/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.button{
	-fx-background-color:  #F28100;
	-fx-font-family:'rasa';
	-fx-text-fill: antiquewhite;
	-fx-font-size: 20px;
	-fx-font-weight: bold;
	-fx-border-color: black;
	-fx-border-width: 1 1 1 1;
	-fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-insets: 0;
}
.label, #question{
	-fx-font-family:'dejavu sans';
	-fx-font-weight: bold;
}
#timerDisplay, #fixedDisplay{
	-fx-background-color: #f9b3aa;
	-fx-text-fill: black;
	-fx-font-size: 18px;
	-fx-font-weight: bold;
}
#answer:disabled{
	-fx-opacity:1.0;
}

#normal, #slow, #fast{
	-fx-background-color: transparent;
	-fx-border-color: transparent;
}
#normal:hover,#slow:hover, #fast:hover{
	-fx-border-color: palegoldenrod;
	-fx-border-width: 1 1 1 1;
}

#returnMenu{
	-fx-font-size: 20px;
}
.button:pressed{
	-fx-background-color: lightsalmon;	
	}
.button:hover{
	-fx-border-color: palegoldenrod;
	-fx-border-width: 1 1 1 1;
	-fx-background-insets: 0;
}