.table-view{
    -fx-background-color: #F28100;
    -fx-border-color: black;
 }
 
 .table-view .column-header-background{
     -fx-background-color: #F28100;
 }
 
 .table-view .column-header-background .label{
     -fx-background-color: transparent;
     -fx-text-fill: white;
 }
 
 .table-view .column-header {
     -fx-background-color: transparent;
 }
 
 .table-view .table-cell{
     -fx-text-fill: white;
 }
 
 .table-row-cell{
     -fx-background-color: #F28100;
     -fx-background-insets: 0, 0 0 1 0;
     -fx-padding: 0.0em; 
 }
 
 .table-row-cell:odd{
     -fx-background-color: lightsalmon;
     -fx-background-insets: 0, 0 0 1 0;
     -fx-padding: 0.0em;
 }

 .table-view .scroll-bar * {
    -fx-min-width: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;

    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
}

#table .table-column {
    -fx-alignment: CENTER;
  }